.App {
  margin: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
  justify-content: center;
  max-width: 70%;
  
}

.App-header {
  background-color: #EBE0CD;
  border: 0px solid #000000;
  border-radius: 15px 15px 0px 0px;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  color: #191C2F;
}
.head-left, .head-right{  
  padding: 12px;
  margin-left: 20px;
  margin-right: 40px;
  border: 0px solid #FF0000;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.head-left{
  align-items: left;
  font-size: 24px;
  font-weight: 600;
}
.App-title{
  margin: 10px;
}
.head-right{
  align-items: right;
  font-size: 14px;
  font-weight: 300;
}

.container{
  background-color: #FFFFFF;
  border: 0px solid #000000;
  color: #191C2F;
  min-height: 70vh;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.app-side{
  background-color: #FFFFFF;
  border-right: 1px solid #191C2F;
  padding: 12px;
  width: 30%;
}

.app-ul{
  margin: 0;
  padding: 0;
  text-align: left;
  list-style-type: none;
  border: 0px solid #191C2F;
}

.app-li{
  margin: 12px;
  width: 70%;
  border-bottom: 1px solid #808080;
  cursor: pointer;
}

.app-li:hover{
  color: #111;
  transform: scale(1.2);
  text-shadow: none;
}
.countme{
  padding-top: 12px;
}

.badge{
  float:right;
  margin-top: 2px;
  margin-right: 18px;
}

.app-body{
  background-color: #FFFFFF;
  padding: 12px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 70vh;
}

.app-top{
  border-bottom: 1px solid #000000;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
}

.app-msg{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 100px;
  border-bottom: 1px solid #c0c0c0;
}

.app-compose{
  border: 0px solid #c0c0c0;
  width: 100%;
  min-height: 6vh;
  display: flex;
  align-items:  baseline;
  justify-content: left;
}

.app-in-top{
  border: 0px solid #c0c0c0;
  width: 100%;
  min-height: 6vh;
  display: flex;
  align-items: baseline;
  justify-content: right;
}

.app-write{
  margin: 12px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border: 1px solid #c0c0c0;
  width: 680px;
  
}
.app-inputs{
  margin-right: 12px;
  padding: 12px;
}

.App-footer{
  background-color: #352525;
  border: 0px solid #000000;
  color: #FCF7E4;
  min-height: 5vh;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  border-radius: 0px 0px 15px 15px;
}

.footer-info{
  display:flex;
  align-items: flex-end;
  padding: 10px;
  font-size: small;
}

